@font-face {
    font-family: FX_LED;
    src: url("assets/digital-7-font/Digital7-rg1mL.ttf");
}

@font-face {
    font-family: Hack;
    src: url("fonts/Hack-Bold.ttf");
}

.digital-clock {
    background-color: #000;
    color: #fff;
    display: flex;
    border-radius: 2rem;
    user-select: none;
    padding: 0 2rem;
    border: 0.5rem solid #2d2d2d;
}

.week {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 3rem;
    color: #2d2d2d;
    font-family: "Hack";
}

.week .active {
    color: white;
}

.time {
    font-family: "FX_LED";
}

.hour,
.min,
.dot {
    display: inline-block;
    font-size: 13rem;
}

.min {
    display: inline-block; /* Corregido */
}

.invisible {
    visibility: hidden;
}

.dot:hover{
    background-color: white;
    color: blue;
}

@keyframes dot{
    0% {opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}
.dot{
    animation: dot 1s infinite;
}